.week {
  width: 960px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr (1fr)[7];
      grid-template-columns: 0.5fr repeat(7, 1fr);
  -ms-grid-rows: 25px 50px 50px;
      grid-template-rows: 25px 50px 50px;
  row-gap: 0.5rem;
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.week .main {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
}

.week .item {
  position: relative;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.3rem;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.menu {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

@media (min-width: 40em) {
  .menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 64em) {
  .menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
}

.menuitem {
  height: 3rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr 1fr;
      grid-template-columns: 2fr 3fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.3rem;
  cursor: move;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  overflow: hidden;
}

.menuitem .dishTitle {
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.menuitem img {
  height: 3rem;
}

.menuitem .dishControls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 0.2rem;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: end;
}

.menuitem button {
  border: 1px solid lightgray;
  border-radius: 100%;
  margin-left: 0.1rem;
  padding: -1rem;
  background-color: white;
  color: black;
}

.recipes {
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (min-width: 40em) {
  .recipes {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 64em) {
  .recipes {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}

.recipe {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.5rem;
  padding-right: 0.5rem;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.3rem;
  max-height: 4rem;
  overflow: hidden;
}

.recipe h5 {
  width: 60%;
  margin-left: 0.5rem;
  font-family: "Open Sans", sans-serif;
}

.recipe img {
  width: 6rem;
  height: 4rem;
}

.recipe .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.recipe button {
  border-radius: 1.5rem;
  padding-left: 0.5rem;
  font-size: 1.1rem;
  padding-right: 0.5rem;
}

.searchForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin-bottom: 2rem;
}

.searchForm select {
  width: 30%;
  padding: 0.3rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 1rem;
}

.searchForm select option {
  width: 4rem;
  height: 2rem;
  padding: 0.5rem;
}

.searchForm button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  color: white;
  background: #2ecc71;
  border-radius: 5px;
  padding: 0.5rem;
  height: 2.5rem;
  width: 6rem;
  font-family: "Amatic SC", cursive;
}

.searchForm input {
  height: 2.5rem;
  background-color: lightgreen;
  text-align: center;
  width: 90%;
  margin: 0.5rem auto;
  border: none;
  border-radius: 5px;
  font-family: 'Amatic SC';
  font-size: 2rem;
}

.searchForm .filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.infoWindow {
  display: none;
}

.infoWindow.show {
  font-family: "Noto Sans JP", sans-serif;
  width: 90%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-shadow: 10px 10px 10px 10px gray;
          box-shadow: 10px 10px 10px 10px gray;
}

.infoWindow.show button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 1rem;
  padding: 1rem;
  -webkit-box-shadow: 2px 2px 2px 2px gray;
          box-shadow: 2px 2px 2px 2px gray;
}

.infoWindow.show img {
  height: 10rem;
}

.infoWindow.show p {
  font-size: 0.8rem;
  width: 80%;
}

.infoWindow.show h1,
.infoWindow.show h2 {
  font-size: 1rem;
  width: 80%;
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.infoWindow.show .ingredients {
  font-style: italic;
}

.infoWindow.show .instructions,
.infoWindow.show ol {
  font-size: 0.75rem;
  width: 80%;
}

.infoWindow.show .infoControls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.infoWindow.show #closeInfo {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

html {
  height: 100vh;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Amatic SC", cursive;
  position: relative;
}

button {
  border: none;
  background: #2ecc71;
  border-radius: 5px;
  color: white;
}

#wrapper {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1024px;
}

.waiting {
  background-color: black;
  opacity: 0.2;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  position: absolute;
  visibility: hidden;
}

.waiting .show {
  visibility: visible;
}

.waiting .icon {
  width: 2rem;
  height: 2rem;
  border: 5px solid gray;
  border-top: 6px solid #2ecc71;
  border-radius: 100%;
  margin: auto;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  max-width: 1024px;
  margin: auto;
}

.infotext {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: lighter;
  font-size: small;
}

.title {
  display: -ms-grid;
  display: grid;
  margin-bottom: 1rem;
  justify-items: center;
}

.switchView {
  text-align: center;
  margin: 1rem;
}

.ingredientsList {
  visibility: hidden;
  margin-left: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: smaller;
  position: relative;
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#shoppingList {
  background-color: whitesmoke;
  min-height: 100px;
  margin: 0.5em;
}

.visible {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2rem;
  z-index: 1;
  border-radius: 0.4rem;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.close {
  border: 1px, solid, black;
  margin-left: 95%;
}

#shoppingListContainer {
  padding: 0.5rem;
  margin-top: 2rem;
  margin-left: 20%;
  margin-right: 20%;
  background-color: ivory;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: smaller;
}

.showBtn {
  margin: 1rem;
  padding: 1rem;
  position: relative;
}

.addToMyList {
  margin: 1rem;
  padding: 1rem;
}

.switchView select {
  visibility: hidden;
}

.select-slider-container {
  border-radius: 5px;
  display: inline-block;
  margin: 0 auto;
  position: relative;
}

.option {
  display: inline-block;
  width: 4rem;
  max-height: 2rem;
  padding: 0.5rem;
  text-align: center;
  color: #bcbcbc;
}

.selected {
  background: #2ecc71;
  border-radius: 5px;
  color: white;
  z-index: 3;
  position: relative;
}

.credits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.more {
  margin-top: 1rem;
  text-align: center;
}

.hide {
  display: none;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 40em) {
  .hide-for-desktop {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */